
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(180deg, rgb(81,164,219), rgb(112,184,224));
    font-family: 'Raleway', sans-serif;
    color: #e5e2e5;
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container {
    max-width: 900px;
    margin: auto;
}
.feels_like {
    font-size: 1.2rem;
}
.timezone {
    color: #333;
    margin-top: 5rem;
    text-align: start;
    padding: 1rem;
    font-size: 2rem;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.box1,
.box2 {
    padding: 1rem;
}
.date {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.temp {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.temp-description {
    font-size: 1.5rem;
}
.icon {
    font-size: 5rem;
}



